<script setup>
import { ref } from "vue";

const educations = ref([
  {
    id: 1,
    title: "Pendidikan 1",
  },
  {
    id: 2,
    title: "Pendidikan 2",
  },
  {
    id: 3,
    title: "Pendidikan 3",
  },
]);
</script>

<template>
  <div class="card">
    <h6 class="text-card mb-3 text-sm md:mb-8 md:text-base">
      Riwayat Pendidikan
    </h6>
    <div
      v-for="education in educations"
      :key="education.id"
      class="flex items-center gap-3.5 text-xs md:text-base"
      :class="education.id !== 3 ? 'mb-3.5' : ''"
    >
      <svg
        width="26"
        height="26"
        viewBox="0 0 26 26"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.3335 8.66669C17.3335 11.0609 15.3943 13 13.0002 13C10.606 13 8.66683 11.0609 8.66683 8.66669L8.786 7.64835L5.41683 5.95835L13.0002 2.16669L20.5835 5.95835V11.375H19.5002V6.50002L17.2143 7.64835L17.3335 8.66669ZM13.0002 15.1667C17.7885 15.1667 21.6668 17.1059 21.6668 19.5V21.6667H4.3335V19.5C4.3335 17.1059 8.21183 15.1667 13.0002 15.1667Z"
          fill="#EE6C4D"
        />
      </svg>
      <a href="#" class="text-gray">{{ education.title }}</a>
    </div>
  </div>
</template>
