<script setup>
const props = defineProps({
  modalActive: {
    type: String,
  },
});
</script>
<template>
  <transition
    enter-active-class="animate__animated animate__fadeIn animate__faster"
    leave-active-class="animate__animated animate__fadeOut animate__faster"
  >
    <div
      v-if="props.modalActive"
      class="fixed top-0 left-0 z-30 flex h-screen w-screen items-start justify-center overflow-scroll bg-modal"
    >
      <div
        v-if="props.modalActive"
        class="relative my-28 mx-5 flex w-full max-w-3xl flex-col items-center justify-center overflow-hidden rounded-2xl bg-neutral-100 shadow-card md:my-40"
      >
        <div
          class="flex w-full items-center justify-between bg-white px-8 py-6"
        >
          <h6 class="title-card"><slot name="title"></slot></h6>
          <button @click="$emit('close')" type="button">
            <svg
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M29.855 8.3825L20 18.2375L10.145 8.3825C9.908 8.1656 9.59642 8.04851 9.27521 8.05562C8.954 8.06274 8.64792 8.19352 8.42073 8.4207C8.19354 8.64789 8.06277 8.95397 8.05565 9.27518C8.04854 9.5964 8.16562 9.90797 8.38253 10.145L18.2325 20L8.38003 29.8525C8.25966 29.9672 8.16343 30.1048 8.09701 30.2573C8.0306 30.4097 7.99532 30.5739 7.99326 30.7401C7.9912 30.9064 8.0224 31.0714 8.08502 31.2254C8.14765 31.3795 8.24043 31.5194 8.35792 31.6371C8.47541 31.7547 8.61524 31.8477 8.76918 31.9106C8.92313 31.9734 9.08808 32.0048 9.25434 32.003C9.42061 32.0012 9.58483 31.9661 9.73736 31.8999C9.88989 31.8337 10.0276 31.7377 10.1425 31.6175L20 21.765L29.855 31.62C30.0921 31.8369 30.4036 31.954 30.7248 31.9469C31.0461 31.9398 31.3521 31.809 31.5793 31.5818C31.8065 31.3546 31.9373 31.0485 31.9444 30.7273C31.9515 30.4061 31.8344 30.0945 31.6175 29.8575L21.7625 20.0025L31.6175 10.145C31.7379 10.0303 31.8341 9.89267 31.9005 9.74023C31.967 9.5878 32.0022 9.42363 32.0043 9.25736C32.0064 9.0911 31.9752 8.9261 31.9125 8.77207C31.8499 8.61804 31.7571 8.47808 31.6396 8.36042C31.5221 8.24277 31.3823 8.14978 31.2284 8.08694C31.0744 8.0241 30.9095 7.99267 30.7432 7.99449C30.5769 7.99631 30.4127 8.03136 30.2602 8.09756C30.1077 8.16376 29.9699 8.25979 29.855 8.38V8.3825Z"
                fill="#EE6C4D"
              />
            </svg>
          </button>
        </div>
        <div
          class="relative w-full overflow-scroll rounded-card bg-neutral-100 p-5 md:p-8"
        >
          <div class="overflow-scroll rounded-card bg-white p-5 md:p-8">
            <slot name="content"></slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
