<script setup>
import { ref } from "vue";

const profile = ref({
  name: "Donny Hassan",
  ageAndNumber: "(25 Th) (2/52)",
  mobileNumber: "0895357910061",
  email: "donhassan@email.com",
});
</script>

<template>
  <div class="card relative flex items-start gap-5 md:block">
    <img
      src="../assets/images/profile.png"
      class="h-18 w-18 md:mx-auto md:mb-5 md:h-auto md:w-auto"
      alt="profile-img"
    />
    <div class="w-full">
      <h6
        class="mb-1.5 text-sm font-semibold text-black md:mb-2.5 md:text-center md:text-base"
      >
        {{ profile.name }}
      </h6>
      <p class="mb-2.5 text-xs text-gray md:mb-5 md:text-center md:text-sm">
        {{ profile.ageAndNumber }}
      </p>
      <button
        class="absolute top-2.5 right-2.5 rounded-[10px] bg-primary px-5 py-2.5 text-white shadow-button md:static md:mx-auto md:mb-7 md:flex md:gap-2 md:px-7"
      >
        <svg
          width="26"
          height="26"
          viewBox="0 0 26 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.2498 11.9167H23.8332V14.0834H16.2498V11.9167ZM17.3332 16.25H23.8332V18.4167H17.3332V16.25ZM15.1665 7.58335H23.8332V9.75002H15.1665V7.58335ZM4.33317 20.5834H15.1665V19.5C15.1665 16.5133 12.7366 14.0834 9.74984 14.0834H7.58317C4.59642 14.0834 2.1665 16.5133 2.1665 19.5V20.5834H4.33317ZM8.6665 13C10.8278 13 12.4582 11.3696 12.4582 9.20835C12.4582 7.0471 10.8278 5.41669 8.6665 5.41669C6.50525 5.41669 4.87484 7.0471 4.87484 9.20835C4.87484 11.3696 6.50525 13 8.6665 13Z"
            fill="#EFEFEF"
          />
        </svg>
        <span class="hidden md:block">Detail</span>
      </button>
      <div class="mb-3 flex items-center gap-2.5 md:mb-3.5 md:gap-3.5">
        <svg
          width="26"
          height="26"
          viewBox="0 0 26 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 md:h-auto md:w-auto"
        >
          <path
            d="M10.9785 11.414L12.7238 9.81501C13.201 9.37694 13.5364 8.80626 13.687 8.17622C13.8375 7.54617 13.7964 6.8855 13.5688 6.27901L12.8245 4.29164C12.5465 3.54969 11.996 2.94167 11.2853 2.59143C10.5746 2.2412 9.75706 2.17512 8.9993 2.40664C6.2108 3.25976 4.06742 5.85164 4.72717 8.92939C5.16105 10.9541 5.99142 13.4956 7.56442 16.1996C9.14067 18.9101 10.9412 20.9121 12.4849 22.3194C14.8152 24.44 18.1464 23.9103 20.2898 21.9115C20.8643 21.3758 21.213 20.6412 21.2646 19.8573C21.3162 19.0735 21.067 18.2994 20.5677 17.693L19.2027 16.0355C18.791 15.5343 18.2387 15.1677 17.617 14.9829C16.9952 14.7982 16.3324 14.8037 15.7138 14.9988L13.4583 15.7089C12.8758 15.1078 12.3654 14.4408 11.9373 13.7215C11.5241 12.9941 11.2021 12.2185 10.9785 11.4124V11.414Z"
            fill="#EE6C4D"
          />
        </svg>
        <p class="text-xs text-gray md:text-sm">{{ profile.mobileNumber }}</p>
      </div>
      <div class="flex items-center gap-2.5 md:gap-3.5">
        <svg
          width="26"
          height="26"
          viewBox="0 0 26 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 md:h-auto md:w-auto"
        >
          <path
            d="M20.5832 4.33331H5.4165C4.55455 4.33331 3.7279 4.67572 3.11841 5.28522C2.50891 5.89471 2.1665 6.72136 2.1665 7.58331V18.4166C2.1665 19.2786 2.50891 20.1053 3.11841 20.7147C3.7279 21.3242 4.55455 21.6666 5.4165 21.6666H20.5832C21.4451 21.6666 22.2718 21.3242 22.8813 20.7147C23.4908 20.1053 23.8332 19.2786 23.8332 18.4166V7.58331C23.8332 6.72136 23.4908 5.89471 22.8813 5.28522C22.2718 4.67572 21.4451 4.33331 20.5832 4.33331ZM20.5832 6.49998L13.5415 11.3425C13.3768 11.4376 13.19 11.4876 12.9998 11.4876C12.8097 11.4876 12.6229 11.4376 12.4582 11.3425L5.4165 6.49998H20.5832Z"
            fill="#EE6C4D"
          />
        </svg>
        <p class="text-xs text-gray md:text-sm">{{ profile.email }}</p>
      </div>
    </div>
  </div>
</template>
