<script setup>
import CardLabel from "./CardLabel.vue";
</script>

<template>
  <div class="card">
    <h6 class="title-card mb-2.5">Pegawai Terbaik</h6>
    <div class="flex flex-wrap items-center gap-2.5">
      <CardLabel class="bg-light-red">
        <template #innerButton>55.67 %</template>
      </CardLabel>
      <CardLabel class="bg-dark-blue">
        <template #innerButton>Skor PT 24.9975</template>
      </CardLabel>
      <CardLabel class="bg-danger">
        <template #innerButton>Video</template>
      </CardLabel>
      <CardLabel class="bg-pale-blue">
        <template #innerButton>Prestasi</template>
      </CardLabel>
    </div>
  </div>
</template>
