<script setup>
import CardModal from "./CardModal.vue";
import { ref } from "vue";
const props = defineProps({
  text: {
    type: String,
    default: "",
  },
});

const modalActive = ref(false);
const toggleModal = () => {
  const body = document.body;

  modalActive.value = !modalActive.value;
  if (modalActive.value) {
    body.classList.add("overflow-hidden");
  } else {
    body.classList.remove("overflow-hidden");
  }
};
</script>

<template>
  <div class="rounded-md">
    <button
      @click="toggleModal"
      class="group relative box-border inline-block py-1 px-2.5"
    >
      <div
        v-if="props.text !== ''"
        class="invisible absolute right-0 bottom-10 z-20 min-w-max rounded-lg rounded-br-none bg-primary py-3 px-4 text-left text-white opacity-0 shadow-button transition duration-300 ease-in-out group-hover:visible group-hover:opacity-100"
      >
        <p v-html="props.text"></p>
      </div>
      <span class="flex items-center gap-0.5 text-sm text-white">
        <slot name="innerButton"></slot>
      </span>
    </button>
    <Teleport to="#modal">
      <CardModal @close="toggleModal" :modalActive="modalActive">
        <template #title>
          <slot name="title"></slot>
        </template>
        <template #content>
          <slot name="content"></slot>
        </template>
      </CardModal>
    </Teleport>
  </div>
</template>
