<script setup>
import { ref } from "vue";
import CardLabel from "./CardLabel.vue";

const englishSkills = ref([
  {
    title: "Skor Membaca",
    score: 0,
  },
  {
    title: "Skor Menulis",
    score: 0,
  },
  {
    title: "Skor Mendengarkan",
    score: 0,
  },
  {
    title: "Skor Berbicara",
    score: 0,
  },
  {
    title: "Skor Total",
    score: 0,
  },
  {
    title: "Sertifikat",
    score: "Tidak ada sertifikat",
  },
]);

const testTotal = ref([
  {
    name: "Sangat Rendah",
    color: "text-danger",
  },
  {
    name: "Rendah",
    color: "text-light-red",
  },
  {
    name: "Di Bawah Normal",
    color: "text-warning",
  },
  {
    name: "Normal",
    color: "text-gray",
  },
  {
    name: "Di Atas Normal",
    color: "text-light-blue",
  },
  {
    name: "Tinggi",
    color: "text-dark-blue",
  },
  {
    name: "Sangat Tinggi",
    color: "text-success",
  },
]);
</script>

<template>
  <div class="card">
    <h6 class="title-card mb-2.5">Indikator Lainnya</h6>
    <div class="flex flex-wrap items-center gap-2.5">
      <CardLabel class="bg-light-red">
        <template #innerButton>C</template>
      </CardLabel>
      <CardLabel class="bg-dark-blue">
        <template #innerButton>Download</template>
      </CardLabel>
      <CardLabel class="bg-danger">
        <template #innerButton>Detail Ativitas</template>
      </CardLabel>
      <CardLabel class="bg-pale-blue">
        <template #innerButton>TM</template>
      </CardLabel>
      <CardLabel class="bg-warning">
        <template #innerButton>UB</template>
      </CardLabel>
      <CardLabel class="bg-primary">
        <template #innerButton>
          <svg
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.37512 11.5326V13.9914C4.37512 14.6301 4.72512 15.2251 5.28512 15.5314L9.66012 17.9201C10.1851 18.2089 10.8151 18.2089 11.3401 17.9201L15.7151 15.5314C16.2751 15.2251 16.6251 14.6301 16.6251 13.9914V11.5326L11.3401 14.4201C10.8151 14.7089 10.1851 14.7089 9.66012 14.4201L4.37512 11.5326ZM9.66012 3.08012L2.28387 7.10512C1.68012 7.43762 1.68012 8.31262 2.28387 8.64512L9.66012 12.6701C10.1851 12.9589 10.8151 12.9589 11.3401 12.6701L18.3751 8.82887V14.0001C18.3751 14.4814 18.7689 14.8751 19.2501 14.8751C19.7314 14.8751 20.1251 14.4814 20.1251 14.0001V8.39137C20.1251 8.06762 19.9501 7.77887 19.6701 7.62137L11.3401 3.08012C11.0816 2.94224 10.7931 2.87012 10.5001 2.87012C10.2071 2.87012 9.91864 2.94224 9.66012 3.08012Z"
              fill="white"
            />
          </svg>
        </template>
      </CardLabel>
      <CardLabel class="bg-purple"
        ><template #innerButton>
          <svg
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.35008 5.24999C7.35047 4.64952 7.52249 4.06166 7.84587 3.55569C8.16924 3.04972 8.6305 2.64672 9.17529 2.39418C9.72008 2.14164 10.3257 2.05007 10.9208 2.13028C11.5159 2.21048 12.0757 2.45911 12.5342 2.84686C12.9927 3.23462 13.3308 3.74535 13.5087 4.31888C13.6866 4.8924 13.6968 5.50483 13.5382 6.08398C13.3796 6.66314 13.0588 7.18491 12.6136 7.5878C12.1683 7.99069 11.6172 8.25792 11.0251 8.358V9.975H14.1751C14.5928 9.975 14.9934 10.1409 15.2888 10.4363C15.5841 10.7317 15.7501 11.1323 15.7501 11.55V12.643C16.5291 12.7747 17.2303 13.1942 17.7147 13.8185C18.199 14.4427 18.4312 15.2261 18.3651 16.0135C18.299 16.8008 17.9396 17.5346 17.358 18.0694C16.7765 18.6043 16.0152 18.9011 15.2251 18.9011C14.435 18.9011 13.6737 18.6043 13.0921 18.0694C12.5105 17.5346 12.1511 16.8008 12.0851 16.0135C12.019 15.2261 12.2512 14.4427 12.7355 13.8185C13.2198 13.1942 13.921 12.7747 14.7001 12.643V11.55C14.7001 11.4108 14.6448 11.2772 14.5463 11.1788C14.4479 11.0803 14.3143 11.025 14.1751 11.025H6.82508C6.68584 11.025 6.5523 11.0803 6.45385 11.1788C6.35539 11.2772 6.30008 11.4108 6.30008 11.55V12.643C7.07915 12.7747 7.78033 13.1942 8.26467 13.8185C8.749 14.4427 8.98115 15.2261 8.9151 16.0135C8.84905 16.8008 8.48962 17.5346 7.90804 18.0694C7.32647 18.6043 6.56519 18.9011 5.77508 18.9011C4.98497 18.9011 4.22369 18.6043 3.64212 18.0694C3.06054 17.5346 2.70111 16.8008 2.63506 16.0135C2.56901 15.2261 2.80115 14.4427 3.28549 13.8185C3.76983 13.1942 4.47101 12.7747 5.25008 12.643V11.55C5.25008 11.1323 5.41602 10.7317 5.71139 10.4363C6.00676 10.1409 6.40736 9.975 6.82508 9.975H9.97508V8.358C9.24082 8.23367 8.57433 7.85331 8.09381 7.28437C7.61329 6.71544 7.3498 5.9947 7.35008 5.24999Z"
              fill="white"
            />
          </svg>
        </template>
      </CardLabel>
      <CardLabel class="bg-success">
        <template #innerButton>Video Profil</template>
      </CardLabel>
      <CardLabel class="bg-light-red">
        <template #innerButton>B</template>
      </CardLabel>
      <CardLabel class="bg-dark-blue">
        <template #innerButton>Catatan</template>
      </CardLabel>
      <CardLabel class="bg-danger">
        <template #innerButton>Eng : 3</template>
        <template #title>Keahlian Bahasa Inggris</template>
        <template #content>
          <table
            class="w-full table-auto border-collapse border border-slate-500"
          >
            <tr v-for="data in englishSkills" :key="data.title">
              <td
                class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
              >
                {{ data.title }}
              </td>
              <td
                class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
              >
                {{ data.score }}
              </td>
            </tr>
          </table>
        </template>
      </CardLabel>
      <CardLabel class="bg-success">
        <template #innerButton>TKD [7] 150</template>
        <template #title>TKD</template>
        <template #content>
          <p class="text-sm font-medium text-black">Jumlah Tes 10/10</p>
          <ol class="list-inside list-decimal">
            <li
              v-for="test in testTotal"
              :key="test.name"
              class="text-xs font-medium md:text-sm"
              :class="[test.color]"
            >
              {{ test.name }}
            </li>
          </ol>
        </template>
      </CardLabel>
      <CardLabel class="bg-purple">
        <template #innerButton>
          <svg
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.6171 1.75H7.88369C6.91156 1.75 6.12493 2.53663 6.12493 3.50875V8.44113L2.01068 12.5029C1.88741 12.6248 1.80314 12.7806 1.76856 12.9505C1.73398 13.1204 1.75065 13.2967 1.81646 13.4571C1.88228 13.6175 1.99426 13.7548 2.1382 13.8514C2.28214 13.9481 2.45155 13.9998 2.62493 14V18.375C2.62493 18.6071 2.71712 18.8296 2.88122 18.9937C3.04531 19.1578 3.26787 19.25 3.49993 19.25H17.4999C17.732 19.25 17.9546 19.1578 18.1187 18.9937C18.2827 18.8296 18.3749 18.6071 18.3749 18.375V3.50788C18.3749 2.53662 17.5892 1.75 16.6171 1.75ZM9.55668 13.2221V17.5H4.37493V12.628L6.98856 10.0476L9.55668 12.6753V13.2221ZM11.3749 7.875H9.62493V6.125H11.3749V7.875ZM14.8749 14.875H13.1249V13.125H14.8749V14.875ZM14.8749 11.375H13.1249V9.625H14.8749V11.375ZM14.8749 7.875H13.1249V6.125H14.8749V7.875Z"
              fill="white"
            />
            <path d="M6.125 13.125H7.875V14.875H6.125V13.125Z" fill="white" />
          </svg>
        </template>
      </CardLabel>
      <CardLabel class="bg-light-red">
        <template #innerButton>Riwayat Cuti</template>
        <template #title>Riwayat Cuti</template>
        <template #content>
          <table
            class="w-full table-auto border-collapse border border-slate-500"
          >
            <thead>
              <tr>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  No
                </td>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  Uraian
                </td>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  Durasi (hari)
                </td>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  Tanggal Mulai
                </td>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  Tanggal Selesai
                </td>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  Keterangan
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  1
                </td>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  Cuti Sakit Terpapar Postif Covid
                </td>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  14
                </td>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  19 Februari 2022
                </td>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  4 Maret 2022
                </td>
                <td
                  class="border border-[#ADB5BD] px-2 py-1 text-xs font-medium text-black md:px-5 md:py-3.5 md:text-sm"
                >
                  Permohonan telah disetujui oleh atasan secara langsung
                </td>
              </tr>
            </tbody>
          </table>
        </template>
      </CardLabel>
      <CardLabel class="bg-dark-blue">
        <template #innerButton>Nilai</template></CardLabel
      >
    </div>
  </div>
</template>
