<script setup>
import CardLabel from "./CardLabel.vue";
</script>

<template>
  <div class="card p-6">
    <h6 class="title-card mb-2.5">Indikator OPD Bulan Ini</h6>
    <div class="flex flex-wrap items-center gap-2.5">
      <CardLabel class="bg-light-blue">
        <template #innerButton>PR</template>
      </CardLabel>
      <CardLabel class="bg-light-red">
        <template #innerButton>4</template>
      </CardLabel>
      <CardLabel class="bg-warning">
        <template #innerButton>12% [6/52]</template>
      </CardLabel>
      <CardLabel class="bg-primary">
        <template #innerButton>369 P</template>
      </CardLabel>
    </div>
  </div>
</template>
