<script setup>
import { ref } from "vue";

const firstDataTable = ref([
  {
    name: "NIP",
    value: 11235548632564,
  },
  {
    name: "RANK TERTINGGI",
    value: "(6/52)  (5/52)",
  },
  {
    name: "TIPE PEGAWAI",
    value: "STRUKTURAL",
  },
  {
    name: "KELAS JABATAN/JOB VALUE",
    value: "-/-",
  },
]);

const secondDataTable = ref([
  {
    title: "&lt;Unit Kerja&gt;",
  },
  {
    title: "&lt;Perangkat Daerah/Dinas&gt;",
  },
]);

const thirdDataTable = ref([
  {
    index: 79.62,
    vote: 46.42,
    questionnaire: 86.03,
    performance: 100.0,
    fill: 8.0,
    thp: "31.739.136",
  },
  {
    index: 95.21,
    vote: 46.42,
    questionnaire: 86.03,
    performance: 100.0,
    fill: 8.0,
    thp: "31.739.136",
  },
]);

const fourthDataTable = ref([8.67, 8.45, 9.12, 8.47, 9.04]);

const fifthDataTable = ref([8.67, 8.23, 9.52, 8.21, 9.33]);
</script>

<template>
  <div class="card overflow-scroll">
    <h6 class="title-card md:pl-4">Data Pegawai</h6>
    <table class="w-full border-collapse text-xs md:text-sm">
      <tr
        v-for="data in firstDataTable"
        :key="data.name"
        class="border-b border-[#ADB5BD]"
      >
        <td class="w-5/12 py-2.5 text-gray md:w-1/4 md:p-4">{{ data.name }}</td>
        <td>:</td>
        <td>{{ data.value }}</td>
      </tr>
    </table>
    <table class="w-full border-collapse text-xs md:text-sm">
      <tr class="border-b border-[#ADB5BD]">
        <td class="w-5/12 py-2.5 font-semibold text-black md:w-1/4 md:p-4">
          Donny Hassan
        </td>
        <td class="py-2.5 font-semibold text-black md:p-4">
          <button class="rounded bg-secondary px-4 py-1.5 text-white">
            16 U
          </button>
        </td>
      </tr>
    </table>
    <table class="w-full border-collapse text-xs md:text-sm">
      <tr
        v-for="data in secondDataTable"
        :key="data.title"
        class="border-b border-[#ADB5BD]"
      >
        <td class="py-2.5 text-gray md:p-4" v-html="data.title"></td>
      </tr>
    </table>
    <table class="w-full border-collapse text-xs md:text-sm">
      <tr class="border-b border-[#ADB5BD]">
        <td class="w-5/12 py-2.5 text-gray md:w-1/4 md:p-4">
          Gol : <span class="font-semibold text-black"> IV/a</span>
        </td>
        <td class="py-2.5 text-gray md:p-4">
          Es : <span class="font-semibold text-black"> II.b</span>
        </td>
      </tr>
    </table>
    <table class="w-full table-auto border-collapse text-xs md:text-sm">
      <thead>
        <tr>
          <td class="py-2.5 text-gray md:p-4"></td>
          <td class="py-2.5 text-gray md:p-4">Bulan April 2022</td>
          <td class="py-2.5 text-gray md:p-4">Rata Rata</td>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-[#ADB5BD]">
          <td class="py-2.5 text-black md:py-4 md:px-8">Indeks Komposit</td>
          <td
            v-for="data in thirdDataTable"
            :key="data.index"
            class="py-2.5 text-black md:p-4"
          >
            {{ data.index }}
          </td>
        </tr>
        <tr class="border-b border-[#ADB5BD]">
          <td class="py-4 text-black md:px-8">Skor Vote PT</td>
          <td
            v-for="data in thirdDataTable"
            :key="data.vote"
            class="py-2.5 text-black md:p-4"
          >
            {{ data.vote }}
          </td>
        </tr>
        <tr class="border-b border-[#ADB5BD]">
          <td class="py-4 text-black md:px-8">Skor Kuisioner</td>
          <td
            v-for="data in thirdDataTable"
            :key="data.questionnaire"
            class="py-2.5 text-black md:p-4"
          >
            {{ data.questionnaire }}
          </td>
        </tr>
        <tr class="border-b border-[#ADB5BD]">
          <td class="py-4 text-black md:px-8">Kinerja</td>
          <td
            v-for="data in thirdDataTable"
            :key="data.performance"
            class="py-2.5 text-black md:p-4"
          >
            {{ data.performance }}
          </td>
        </tr>
        <tr class="border-b border-[#ADB5BD]">
          <td class="py-4 text-black md:px-8">Pengisi</td>
          <td
            v-for="data in thirdDataTable"
            :key="data.fill"
            class="py-2.5 text-black md:p-4"
          >
            {{ data.fill }}
          </td>
        </tr>
        <tr class="border-b border-[#ADB5BD]">
          <td class="py-4 text-black md:px-8">Besaran THP</td>
          <td
            v-for="data in thirdDataTable"
            :key="data.thp"
            class="py-2.5 text-black md:p-4"
          >
            {{ data.thp }}
          </td>
        </tr>
      </tbody>
    </table>
    <table class="w-full border-collapse text-xs md:text-sm">
      <tr class="border-b border-[#ADB5BD]">
        <td class="flex items-center gap-3.5 py-2.5 text-gray md:w-0 md:p-4">
          <span>TMT</span>
          <span
            ><svg
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.5 1.3125C5.42637 1.3125 1.3125 5.42637 1.3125 10.5C1.3125 15.5736 5.42637 19.6875 10.5 19.6875C15.5736 19.6875 19.6875 15.5736 19.6875 10.5C19.6875 5.42637 15.5736 1.3125 10.5 1.3125ZM11.1562 14.9297C11.1562 15.0199 11.0824 15.0938 10.9922 15.0938H10.0078C9.91758 15.0938 9.84375 15.0199 9.84375 14.9297V9.35156C9.84375 9.26133 9.91758 9.1875 10.0078 9.1875H10.9922C11.0824 9.1875 11.1562 9.26133 11.1562 9.35156V14.9297ZM10.5 7.875C10.2424 7.86974 9.99714 7.76372 9.81682 7.57969C9.63651 7.39565 9.53551 7.14827 9.53551 6.89062C9.53551 6.63298 9.63651 6.3856 9.81682 6.20156C9.99714 6.01753 10.2424 5.91151 10.5 5.90625C10.7576 5.91151 11.0029 6.01753 11.1832 6.20156C11.3635 6.3856 11.4645 6.63298 11.4645 6.89062C11.4645 7.14827 11.3635 7.39565 11.1832 7.57969C11.0029 7.76372 10.7576 7.86974 10.5 7.875Z"
                fill="#6C757D"
              />
            </svg>
          </span>
        </td>
        <td class="text-center md:w-1/12">:</td>
        <td class="md:w-[70%]">0t3b-0t3b-0t3b</td>
      </tr>
    </table>
    <table class="w-full table-fixed border-collapse text-xs md:text-sm">
      <tr class="border-b border-[#ADB5BD]">
        <td class="py-2.5 text-black md:p-4">Nilai Rata-rata</td>
      </tr>
    </table>
    <table class="w-full table-fixed border-collapse text-xs md:text-sm">
      <thead>
        <tr class="border-b border-[#ADB5BD]">
          <td class="py-2.5 text-gray md:p-4">Nilai</td>
          <td class="py-2.5 text-gray md:p-4">N.Atas</td>
          <td class="py-2.5 text-gray md:p-4">N.Bawah</td>
          <td class="py-2.5 text-gray md:p-4">N.Rekan</td>
          <td class="py-2.5 text-gray md:p-4">N.Pribadi</td>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-[#ADB5BD]">
          <td
            v-for="(data, index) in fourthDataTable"
            :key="index"
            class="py-2.5 text-black md:p-4"
          >
            {{ data }}
          </td>
        </tr>
      </tbody>
    </table>
    <table class="w-full table-fixed border-collapse text-xs md:text-sm">
      <tr class="border-b border-[#ADB5BD]">
        <td class="py-2.5 text-black md:p-4">Nilai Terakhir</td>
      </tr>
    </table>
    <table class="w-full table-fixed border-collapse text-xs md:text-sm">
      <thead>
        <tr class="border-b border-[#ADB5BD]">
          <td class="py-2.5 text-gray md:p-4">Nilai</td>
          <td class="py-2.5 text-gray md:p-4">N.Atas</td>
          <td class="py-2.5 text-gray md:p-4">N.Bawah</td>
          <td class="py-2.5 text-gray md:p-4">N.Rekan</td>
          <td class="py-2.5 text-gray md:p-4">N.Pribadi</td>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-[#ADB5BD]">
          <td
            v-for="(data, index) in fifthDataTable"
            :key="index"
            class="py-2.5 text-black md:p-4"
          >
            {{ data }}
          </td>
        </tr>
      </tbody>
    </table>
    <table class="w-full border-collapse text-xs md:text-sm">
      <tr class="border-b border-[#ADB5BD]">
        <td class="w-5/12 py-2.5 text-gray md:w-1/4 md:p-4">Alamat</td>
        <td>:</td>
        <td>&lt;Alamat&gt;</td>
      </tr>
    </table>
  </div>
</template>
