<script setup>
import CardLabel from "./CardLabel.vue";
</script>

<template>
  <div class="card p-6">
    <h6 class="title-card mb-2.5">Jumlah Unik Pemberi Komentar</h6>
    <div class="flex flex-wrap items-center gap-2.5">
      <CardLabel class="bg-dark-blue">
        <template #innerButton>P : 63 Pegawai</template>
      </CardLabel>
      <CardLabel class="bg-danger">
        <template #innerButton>N : 0 Pegawai</template>
      </CardLabel>
    </div>
  </div>
</template>
