<script setup>
import { onMounted, onUnmounted, ref } from "vue";

const onScroll = ref(false);

const addShadow = () => {
  if (window.scrollY > 10) {
    onScroll.value = true;
  } else {
    onScroll.value = false;
  }
};

onMounted(() => {
  window.addEventListener("scroll", addShadow);
});

onUnmounted(() => {
  window.removeEventListener("scroll", addShadow);
});
</script>

<template>
  <header
    class="sticky top-0 z-10 bg-white transition duration-500 ease-in-out"
    :class="onScroll ? 'shadow-card' : ''"
  >
    <div
      class="container mx-auto flex flex-col items-center px-5 md:flex-row md:px-0"
    >
      <div class="flex w-full items-center justify-between py-6 md:mr-6">
        <div class="flex items-center">
          <button class="mr-5 md:mr-6">
            <svg
              width="26"
              height="26"
              viewBox="0 0 26 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.3335 6.49999C4.3335 6.21267 4.44763 5.93712 4.6508 5.73396C4.85396 5.53079 5.12951 5.41666 5.41683 5.41666H20.5835C20.8708 5.41666 21.1464 5.53079 21.3495 5.73396C21.5527 5.93712 21.6668 6.21267 21.6668 6.49999C21.6668 6.78731 21.5527 7.06286 21.3495 7.26602C21.1464 7.46919 20.8708 7.58332 20.5835 7.58332H5.41683C5.12951 7.58332 4.85396 7.46919 4.6508 7.26602C4.44763 7.06286 4.3335 6.78731 4.3335 6.49999ZM4.3335 19.5C4.3335 19.2127 4.44763 18.9371 4.6508 18.734C4.85396 18.5308 5.12951 18.4167 5.41683 18.4167H20.5835C20.8708 18.4167 21.1464 18.5308 21.3495 18.734C21.5527 18.9371 21.6668 19.2127 21.6668 19.5C21.6668 19.7873 21.5527 20.0629 21.3495 20.266C21.1464 20.4692 20.8708 20.5833 20.5835 20.5833H5.41683C5.12951 20.5833 4.85396 20.4692 4.6508 20.266C4.44763 20.0629 4.3335 19.7873 4.3335 19.5ZM5.41683 11.9167C5.12951 11.9167 4.85396 12.0308 4.6508 12.234C4.44763 12.4371 4.3335 12.7127 4.3335 13C4.3335 13.2873 4.44763 13.5629 4.6508 13.766C4.85396 13.9692 5.12951 14.0833 5.41683 14.0833H14.0835C14.3708 14.0833 14.6464 13.9692 14.8495 13.766C15.0527 13.5629 15.1668 13.2873 15.1668 13C15.1668 12.7127 15.0527 12.4371 14.8495 12.234C14.6464 12.0308 14.3708 11.9167 14.0835 11.9167H5.41683Z"
                fill="#EE6C4D"
              />
            </svg>
          </button>
          <h5 class="text-base font-semibold text-primary md:text-xl">
            Analisa Peer Review
          </h5>
        </div>
        <div
          class="relative flex max-w-[300px] items-center gap-2.5 rounded-full bg-[#EFEFEF] p-1.5 md:rounded-[10px] md:py-2 md:px-5"
        >
          <button>
            <svg
              width="26"
              height="26"
              viewBox="0 0 26 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g opacity="0.7">
                <path
                  d="M22.4358 20.8975L18.7525 17.225C19.9409 15.711 20.5857 13.8414 20.5833 11.9167C20.5833 10.2026 20.075 8.52695 19.1227 7.10173C18.1704 5.6765 16.8169 4.56567 15.2333 3.90971C13.6496 3.25376 11.9071 3.08213 10.2259 3.41653C8.54472 3.75094 7.00047 4.57636 5.78841 5.78841C4.57636 7.00047 3.75094 8.54472 3.41653 10.2259C3.08213 11.9071 3.25376 13.6496 3.90971 15.2333C4.56567 16.8169 5.6765 18.1704 7.10173 19.1227C8.52695 20.075 10.2026 20.5833 11.9167 20.5833C13.8414 20.5857 15.711 19.9409 17.225 18.7525L20.8975 22.4358C20.9982 22.5374 21.118 22.618 21.25 22.673C21.3821 22.728 21.5237 22.7563 21.6667 22.7563C21.8097 22.7563 21.9513 22.728 22.0833 22.673C22.2153 22.618 22.3351 22.5374 22.4358 22.4358C22.5374 22.3351 22.618 22.2153 22.673 22.0833C22.728 21.9513 22.7563 21.8097 22.7563 21.6667C22.7563 21.5237 22.728 21.3821 22.673 21.25C22.618 21.118 22.5374 20.9982 22.4358 20.8975ZM5.41667 11.9167C5.41667 10.6311 5.79789 9.37438 6.51212 8.30546C7.22635 7.23655 8.24151 6.40342 9.42923 5.91145C10.6169 5.41948 11.9239 5.29076 13.1848 5.54157C14.4456 5.79237 15.6038 6.41144 16.5129 7.32048C17.4219 8.22952 18.041 9.38771 18.2918 10.6486C18.5426 11.9095 18.4139 13.2164 17.9219 14.4041C17.4299 15.5918 16.5968 16.607 15.5279 17.3212C14.459 18.0355 13.2022 18.4167 11.9167 18.4167C10.1928 18.4167 8.53946 17.7319 7.32048 16.5129C6.10149 15.2939 5.41667 13.6406 5.41667 11.9167Z"
                  fill="#6C757D"
                />
              </g>
            </svg>
          </button>
          <input
            type="text"
            class="hidden w-full bg-transparent text-sm font-medium placeholder-[#6C757D] focus:outline-none md:block"
            placeholder="Cari Pegawai"
          />
        </div>
      </div>
      <div
        class="flex w-full items-center justify-between py-5 md:w-auto md:gap-7"
      >
        <a href="#">
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.9999 4.64286C11.0872 4.6396 9.23183 5.29545 7.74607 6.5H9.28564C9.53192 6.5 9.7681 6.59783 9.94224 6.77198C10.1164 6.94612 10.2142 7.1823 10.2142 7.42857C10.2142 7.67485 10.1164 7.91103 9.94224 8.08517C9.7681 8.25931 9.53192 8.35715 9.28564 8.35715H5.57136C5.44839 8.35716 5.32665 8.33274 5.2132 8.28533C5.09975 8.23791 4.99684 8.16843 4.91045 8.08092C4.82407 7.99341 4.75592 7.88962 4.70998 7.77556C4.66403 7.6615 4.64119 7.53946 4.64279 7.4165V3.71429C4.64279 3.46802 4.74062 3.23183 4.91476 3.05769C5.0889 2.88355 5.32509 2.78572 5.57136 2.78572C5.81763 2.78572 6.05382 2.88355 6.22796 3.05769C6.4021 3.23183 6.49993 3.46802 6.49993 3.71429V5.12015C8.32814 3.60793 10.6274 2.78218 12.9999 2.78572C18.641 2.78572 23.2142 7.35893 23.2142 13C23.2142 18.6411 18.641 23.2143 12.9999 23.2143C7.35886 23.2143 2.78564 18.6411 2.78564 13C2.78564 12.6564 2.80236 12.3156 2.83579 11.9795C2.84635 11.857 2.88114 11.7378 2.93814 11.6288C2.99514 11.5199 3.07322 11.4233 3.16784 11.3448C3.26246 11.2662 3.37174 11.2072 3.48933 11.1713C3.60693 11.1353 3.7305 11.1231 3.85287 11.1352C3.97523 11.1474 4.09396 11.1838 4.20217 11.2422C4.31037 11.3006 4.40589 11.38 4.48318 11.4756C4.56046 11.5713 4.61799 11.6813 4.6524 11.7994C4.68681 11.9174 4.69743 12.0412 4.68364 12.1634C4.5146 13.8434 4.85845 15.5353 5.66989 17.0161C6.48132 18.4969 7.72229 19.6971 9.22931 20.4587C10.7363 21.2204 12.4387 21.5076 14.1122 21.2826C15.7857 21.0577 17.3518 20.3311 18.6042 19.1985C19.8566 18.066 20.7365 16.5806 21.1281 14.9381C21.5197 13.2956 21.4046 11.573 20.7978 9.9972C20.1911 8.42142 19.1213 7.06639 17.7293 6.11059C16.3373 5.1548 14.6885 4.64309 12.9999 4.64286ZM13.9285 7.42857C13.9285 7.1823 13.8307 6.94612 13.6565 6.77198C13.4824 6.59783 13.2462 6.5 12.9999 6.5C12.7537 6.5 12.5175 6.59783 12.3433 6.77198C12.1692 6.94612 12.0714 7.1823 12.0714 7.42857V13C12.0714 13.2463 12.1692 13.4825 12.3433 13.6566C12.5175 13.8307 12.7537 13.9286 12.9999 13.9286H15.3214C15.5676 13.9286 15.8038 13.8307 15.978 13.6566C16.1521 13.4825 16.2499 13.2463 16.2499 13C16.2499 12.7537 16.1521 12.5175 15.978 12.3434C15.8038 12.1693 15.5676 12.0714 15.3214 12.0714H13.9285V7.42857Z"
              fill="#6C757D"
            />
          </svg>
        </a>
        <a href="#">
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.4168 21.6667V4.33334M18.4168 4.33334L21.6668 7.58334M18.4168 4.33334L15.1668 7.58334M7.5835 4.33334V21.6667M7.5835 21.6667L10.8335 18.4167M7.5835 21.6667L4.3335 18.4167"
              stroke="#6C757D"
              stroke-width="1.625"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <a href="#">
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 1.625C11.9925 1.62399 11.0206 1.99736 10.273 2.67262C9.52533 3.34788 9.05524 4.27686 8.95399 5.27922C8.85275 6.28158 9.12756 7.28581 9.72508 8.09695C10.3226 8.90809 11.2002 9.46827 12.1875 9.66875V11.375H8.72138C7.49451 11.375 6.50001 12.3695 6.50001 13.5964V16.3313C5.5136 16.5326 4.63709 17.093 4.04041 17.9039C3.44373 18.7148 3.16939 19.7183 3.27058 20.72C3.37177 21.7216 3.84127 22.65 4.58807 23.3252C5.33487 24.0004 6.30576 24.3742 7.31251 24.3742C8.31926 24.3742 9.29015 24.0004 10.0369 23.3252C10.7837 22.65 11.2533 21.7216 11.3544 20.72C11.4556 19.7183 11.1813 18.7148 10.5846 17.9039C9.98793 17.093 9.11142 16.5326 8.12501 16.3313V13.5964C8.12501 13.2665 8.39151 13 8.72138 13H17.2803C17.6085 13 17.875 13.2665 17.875 13.5964V16.3313C16.8886 16.5326 16.0121 17.093 15.4154 17.9039C14.8187 18.7148 14.5444 19.7183 14.6456 20.72C14.7468 21.7216 15.2163 22.65 15.9631 23.3252C16.7099 24.0004 17.6808 24.3742 18.6875 24.3742C19.6943 24.3742 20.6651 24.0004 21.4119 23.3252C22.1587 22.65 22.6283 21.7216 22.7294 20.72C22.8306 19.7183 22.5563 18.7148 21.9596 17.9039C21.3629 17.093 20.4864 16.5326 19.5 16.3313V13.5964C19.5 12.3695 18.5055 11.375 17.2803 11.375H13.8109V9.66875C14.7981 9.4683 15.6756 8.90824 16.2731 8.09727C16.8706 7.28631 17.1455 6.28227 17.0445 5.28003C16.9434 4.27779 16.4737 3.34883 15.7263 2.67344C14.979 1.99805 14.0073 1.62439 13 1.625ZM10.5625 5.6875C10.5625 5.04104 10.8193 4.42105 11.2764 3.96393C11.7336 3.50681 12.3535 3.25 13 3.25C13.6465 3.25 14.2665 3.50681 14.7236 3.96393C15.1807 4.42105 15.4375 5.04104 15.4375 5.6875C15.4375 6.33397 15.1807 6.95396 14.7236 7.41108C14.2665 7.8682 13.6465 8.125 13 8.125C12.3535 8.125 11.7336 7.8682 11.2764 7.41108C10.8193 6.95396 10.5625 6.33397 10.5625 5.6875ZM4.87501 20.3125C4.87501 19.666 5.13182 19.046 5.58894 18.5889C6.04606 18.1318 6.66604 17.875 7.31251 17.875C7.95897 17.875 8.57896 18.1318 9.03608 18.5889C9.4932 19.046 9.75001 19.666 9.75001 20.3125C9.75001 20.959 9.4932 21.579 9.03608 22.0361C8.57896 22.4932 7.95897 22.75 7.31251 22.75C6.66604 22.75 6.04606 22.4932 5.58894 22.0361C5.13182 21.579 4.87501 20.959 4.87501 20.3125ZM18.6875 17.875C19.0076 17.875 19.3246 17.938 19.6203 18.0605C19.916 18.183 20.1847 18.3626 20.4111 18.5889C20.6374 18.8153 20.817 19.084 20.9395 19.3797C21.062 19.6754 21.125 19.9924 21.125 20.3125C21.125 20.6326 21.062 20.9496 20.9395 21.2453C20.817 21.541 20.6374 21.8097 20.4111 22.0361C20.1847 22.2624 19.916 22.442 19.6203 22.5645C19.3246 22.687 19.0076 22.75 18.6875 22.75C18.041 22.75 17.4211 22.4932 16.9639 22.0361C16.5068 21.579 16.25 20.959 16.25 20.3125C16.25 19.666 16.5068 19.046 16.9639 18.5889C17.4211 18.1318 18.041 17.875 18.6875 17.875Z"
              fill="#6C757D"
            />
          </svg>
        </a>
        <a href="#">
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.3211 19.6226L10.5625 19.3571V18.0477L6.60791 9.69922H4.76709L0.8125 18.0477V19.4209L1.02751 19.6542C1.61804 20.2936 2.33439 20.8041 3.13158 21.1535C3.92877 21.5029 4.78958 21.6837 5.65998 21.6846H5.6813C6.55528 21.6807 7.41894 21.4954 8.21761 21.1405C9.01628 20.7855 9.73256 20.2687 10.3211 19.6226ZM8.9375 18.7184C8.07056 19.5794 6.89766 20.0618 5.67577 20.0597H5.65901C4.45862 20.0657 3.3031 19.6038 2.4375 18.7722V18.4133L5.6875 11.5521L8.9375 18.4133V18.7184ZM21.2329 9.69922H19.3921L15.4375 18.0477V19.4209L15.6525 19.6542C16.243 20.2936 16.9594 20.8041 17.7566 21.1535C18.5538 21.5029 19.4146 21.6837 20.285 21.6846H20.3063C21.1803 21.6807 22.0439 21.4954 22.8426 21.1404C23.6413 20.7855 24.3576 20.2686 24.9461 19.6225L25.1875 19.3571V18.0477L21.2329 9.69922ZM23.5625 18.7184C22.6956 19.5794 21.5227 20.0618 20.3008 20.0597H20.284C19.0836 20.0657 17.9281 19.6038 17.0625 18.7722V18.4133L20.3125 11.5521L23.5625 18.4133V18.7184Z"
              fill="#6C757D"
            />
            <path
              d="M13.8125 9.9866C14.2645 9.85074 14.6758 9.60495 15.0095 9.27122C15.3432 8.93748 15.589 8.52622 15.7249 8.07423H21.125V6.44923H15.7249C15.55 5.86237 15.1903 5.34765 14.6993 4.98166C14.2084 4.61567 13.6124 4.41797 13 4.41797C12.3876 4.41797 11.7916 4.61567 11.3007 4.98166C10.8097 5.34765 10.45 5.86237 10.2751 6.44923H4.875V8.07423H10.2751C10.411 8.52622 10.6568 8.93748 10.9905 9.27122C11.3242 9.60495 11.7355 9.85074 12.1875 9.9866V23.5117H6.90625V25.1367H19.0938V23.5117H13.8125V9.9866ZM11.7812 7.26173C11.7812 7.02069 11.8527 6.78505 11.9866 6.58463C12.1206 6.38421 12.3109 6.228 12.5336 6.13575C12.7563 6.04351 13.0014 6.01937 13.2378 6.0664C13.4742 6.11343 13.6913 6.2295 13.8618 6.39995C14.0322 6.57039 14.1483 6.78755 14.1953 7.02397C14.2424 7.26038 14.2182 7.50543 14.126 7.72813C14.0337 7.95082 13.8775 8.14117 13.6771 8.27509C13.4767 8.409 13.241 8.48048 13 8.48048C12.6768 8.48048 12.3668 8.35208 12.1382 8.12352C11.9097 7.89496 11.7812 7.58496 11.7812 7.26173Z"
              fill="#6C757D"
            />
          </svg>
        </a>
        <a href="#" class="relative">
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.84375 6.09375C2.84375 5.77052 2.97215 5.46052 3.20071 5.23196C3.42927 5.0034 3.73927 4.875 4.0625 4.875H21.9375C22.2607 4.875 22.5707 5.0034 22.7993 5.23196C23.0278 5.46052 23.1562 5.77052 23.1562 6.09375C23.1562 6.41698 23.0278 6.72698 22.7993 6.95554C22.5707 7.1841 22.2607 7.3125 21.9375 7.3125H4.0625C3.73927 7.3125 3.42927 7.1841 3.20071 6.95554C2.97215 6.72698 2.84375 6.41698 2.84375 6.09375ZM6.09375 12.5938C6.09375 12.2705 6.22215 11.9605 6.45071 11.732C6.67927 11.5034 6.98927 11.375 7.3125 11.375H18.6875C19.0107 11.375 19.3207 11.5034 19.5493 11.732C19.7778 11.9605 19.9062 12.2705 19.9062 12.5938C19.9062 12.917 19.7778 13.227 19.5493 13.4555C19.3207 13.6841 19.0107 13.8125 18.6875 13.8125H7.3125C6.98927 13.8125 6.67927 13.6841 6.45071 13.4555C6.22215 13.227 6.09375 12.917 6.09375 12.5938ZM9.34375 19.0938C9.34375 18.7705 9.47215 18.4605 9.70071 18.232C9.92927 18.0034 10.2393 17.875 10.5625 17.875H15.4375C15.7607 17.875 16.0707 18.0034 16.2993 18.232C16.5278 18.4605 16.6562 18.7705 16.6562 19.0938C16.6562 19.417 16.5278 19.727 16.2993 19.9555C16.0707 20.1841 15.7607 20.3125 15.4375 20.3125H10.5625C10.2393 20.3125 9.92927 20.1841 9.70071 19.9555C9.47215 19.727 9.34375 19.417 9.34375 19.0938Z"
              fill="#EE6C4D"
            />
          </svg>
          <div
            class="absolute inset-x-0 -bottom-5 z-30 h-1 rounded-t bg-secondary md:-bottom-8"
          ></div>
        </a>
      </div>
    </div>
  </header>
</template>
