<script setup>
import { ref } from "vue";
import TheHeader from "./components/TheHeader.vue";
import CardProfile from "./components/CardProfile.vue";
import CardEducation from "./components/CardEducation.vue";
import CardData from "./components/CardData.vue";
import CardOpd from "./components/CardOpd.vue";
import CardOpdMonth from "./components/CardOpdMonth.vue";
import CardComment from "./components/CardComment.vue";
import CardBestEmployer from "./components/CardBestEmployer.vue";
import CardOthers from "./components/CardOthers.vue";

const totalEmployee = ref(10201);
</script>

<template>
  <div class="relative bg-neutral-100 font-primary">
    <TheHeader />
    <main
      class="container relative mx-auto mt-8 flex flex-col justify-between gap-5 px-5 pb-24 md:flex-row md:gap-8 md:px-0"
    >
      <section class="flex flex-col gap-5 md:gap-8">
        <CardProfile />
        <CardEducation />
      </section>
      <section class="flex-1">
        <CardData />
      </section>
      <section class="flex flex-1 flex-col gap-5 md:max-w-[300px] md:gap-8">
        <CardOpd />
        <CardOpdMonth />
        <CardComment />
        <CardBestEmployer />
        <CardOthers />
      </section>
      <button
        class="fixed bottom-16 hidden items-center rounded-card bg-primary px-6 py-3.5 font-semibold text-white shadow-button md:flex"
      >
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.0002 36.6667C10.7952 36.6667 3.3335 29.205 3.3335 20C3.3335 10.795 10.7952 3.33337 20.0002 3.33337C29.2052 3.33337 36.6668 10.795 36.6668 20C36.6568 29.2 29.2002 36.6567 20.0002 36.6667ZM18.3335 28.3334V31.6667H21.6668V28.3334H18.3335ZM20.0002 11.6667C20.8842 11.6667 21.7321 12.0179 22.3572 12.643C22.9823 13.2681 23.3335 14.116 23.3335 15C23.3363 15.4378 23.2506 15.8716 23.0817 16.2754C22.9127 16.6792 22.6639 17.0447 22.3502 17.35L20.2835 19.45C19.0359 20.7029 18.3348 22.3986 18.3335 24.1667V25H21.6668C21.6029 24.1164 21.7459 23.23 22.0844 22.4113C22.4229 21.5925 22.9476 20.8639 23.6168 20.2834L25.1168 18.75C25.6103 18.2585 26.0014 17.674 26.2675 17.0303C26.5335 16.3866 26.6693 15.6965 26.6668 15C26.6668 13.2319 25.9645 11.5362 24.7142 10.286C23.464 9.03575 21.7683 8.33337 20.0002 8.33337C18.2321 8.33337 16.5364 9.03575 15.2861 10.286C14.0359 11.5362 13.3335 13.2319 13.3335 15H16.6668C16.6668 14.116 17.018 13.2681 17.6431 12.643C18.2683 12.0179 19.1161 11.6667 20.0002 11.6667Z"
            fill="white"
          />
        </svg>
        <span>Bantuan</span>
      </button>
    </main>
    <div class="fixed bottom-0 hidden w-full bg-primary py-2 text-sm md:block">
      <div class="text-center text-white">
        Jumlah Pegawai: {{ totalEmployee }} | Order: Indeks Komposit Rata-rata
        Descending | Hasil Filter: {{ totalEmployee }} | Filter: Arahkan mouse
        untuk melihat filter yang aktif
      </div>
    </div>
  </div>
</template>
