@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply box-border rounded-card bg-white p-5 shadow-card md:px-7 md:py-8;
  }
  .title-card {
    @apply text-sm font-semibold text-primary md:text-base;
  }
}
